{% extends "base.html" %}

{% block content %}
<h3 style="text-align: center;">Works log</h3>
<div style="margin-left: 50px; margin-right: 50px; overflow: auto;">
    {% for job in jobs %}
    <h4>Action # {{ job.id }}</h4>
    <table class="table table-bordered align-middle" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col" style="width: 40%;">Title of activity</th>
                <th scope="col" style="width: 15%;">Team leader</th>
                <th scope="col" style="width: 15%;">Duration</th>
                <th scope="col" style="width: 20%;">List of collaborators</th>
                <th scope="col" style="width: 10%;">Is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-success">{{ job.job }}</td>
                <td class="table-success">{{ job.team_leader.surname }} {{ job.team_leader.name }}</td>
                <td class="table-success">{{ job.work_size }} hours</td>
                <td class="table-success">{{ job.collaborators }}</td>
                {% if job.is_finished %}
                <td class="table-success">Is finished</td>
                {% else %}
                <td class="table-warning">Is not finished</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}